.card-img-top {
    height: 200px; /* Altura fija para las imágenes */
    object-fit: cover; /* Ajustar la imagen para cubrir el contenedor */
    cursor: pointer; /* Cambiar el cursor para indicar que la imagen es clicable */
    transition: transform 0.5s ease; /* Transición suave para el efecto de zoom */
}

.card-img-top:hover {
    transform: scale(1.5); /* Ampliar la imagen al pasar el mouse */
    z-index: 1;
}

.card {
    overflow: hidden; /* Ocultar partes de la imagen que se salen del contenedor */
    position: relative;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px; /* Altura fija para el texto */
}

.card-title, .card-text {
    color: rgb(0, 38, 109);
    text-decoration: none;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-word;
}

.card .mt-auto {
    margin-top: auto;
}

.modal-body img {
    width: 100%;
    height: auto;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
